<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theranos - Spotify Unwrapped</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <h1>Theranos</h1>
        
    </header>
    <div class="content-center">
        <form action="/logout" method="post">
            <h2>Welcome to Spotify Unwrapped!</h2>
            <p>Discover insights and visualize your Spotify data</p>
            <p>Your Charts are found below</p>
            <ul>
                <li><a href="index.html">Logout</a></li>
            </ul>
        </form>    
    </div>    
    
    <footer>
        <p>It's Jesse's fault footer</p>
    </footer>
</body>
</html>
