<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<script type="text/javascript" src="static/js/functions.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io({ autoConnect: false });
    socket.connect();

    // Listen for updates to the feed
    socket.on('updateFeed', function (data) {
        console.log("Feed updated:", data);
        updateFeedUI(data.posts);
    });

    // Listen for updated like counts
    socket.on('updateLikeCount', function (data) {
        console.log(data);
        const postElement = document.getElementById(data["postID"]);
        if (postElement) {
            postElement.querySelector(".likes").textContent = data["likes"];
            postElement.querySelector(".likedBy").textContent = data["likedBy"];
        }
    });
</script>
<body>
    <header>
        <img src="static/images/images.jpeg" alt="">
        <h1>jim branch</h1>
        <p>Welcome, {{ username }}! <a href="/logout">Logout!</a></p>
        <li><a href="/">Home</a></li>
    </header>
    <section id="post-creation">
        <h2>Create a Post</h2>
        <textarea id="post-content" placeholder="CREATE A POST BY TYPING HERE......"></textarea>
        <input type="file" id="upload">
        <button onclick="createPost()">Post</button>
    </section>
    <section id="posts-section">
        <h3>Recent Posts</h3>
        <div id="feed-container">
            <!-- Posts will be dynamically loaded here -->
        </div>
    </section>
</body>
</html>