<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<script type="text/javascript" src="static/js/functions.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io({ autoConnect: false });
    socket.connect();


    socket.on('updateUserActivity', function(data) {
    const activityContainer = document.getElementById('user-activity');
    activityContainer.innerHTML = '';

    for (const [username, times] of Object.entries(data)) {
        const userItem = document.createElement('div');
        userItem.textContent = `User ${username}: Active for: ${times.active_time.toFixed(2)} seconds | Inactive for: ${times.inactive_time.toFixed(2)} seconds`;
        activityContainer.appendChild(userItem);
    }});

    socket.on('updateFeed', function (data) {
        console.log("Feed updated:", data);
        updateFeedUI(data.posts);
    });

    socket.on('updateLikeCount', function (data) {
        console.log(data);
        const postElement = document.getElementById(data["postID"]);
        if (postElement) {
            postElement.querySelector(".likes").textContent = data["likes"];
            postElement.querySelector(".likedBy").textContent = data["likedBy"];
        }
    });



</script>
<body>
    <header>
        <h1>The Feed</h1>
        <p>Welcome, {{ username }}! <a href="/logout">Logout!</a></p>
        <a href="/">Home</a>
        <img src= "{{ pfp }}" alt="">
    </header>
    <section id="post-creation">
        <h2>Create a Post</h2>
        <textarea id="post-content" placeholder="CREATE A POST BY TYPING HERE......"></textarea>
        <input type="file" id="upload">
        <button onclick="createPost()">Post</button>
    </section>
    <section id="posts-section">
        <h3>Recent Posts</h3>
        <div id="feed-container">
            <!--posts here-->
            {% for post in posts %}
                <div class="post" id={{ post.postID }}>
                    <p><strong>{{ post.author }}:</strong> {{ post.post_content }}</p>
                    <img src="{{ post.filename }}"  alt=""/>
                    <p>Likes: {{ post.likes }}</p>
                    <p>Liked by: {{ ", ".join(post.likedBy) }}</p>
                </div>

            {% else %}
                <p>No posts yet!</p>
            {% endfor %}
        </div>
    </section>

    <section id="user-activity">
        <h3>User Activity</h3>
        <!--activity time here-->
    </section>
</body>
</html>