<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECS 2.0 - Login</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <h1>Environmental Criticism Savants 2.0</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="signup.html">Register</a></li>
            </ul>
        </nav>
    </header>
    
    <div>
        <h2>Login to Spotify Unwrapped</h2>
        <form action="" method="post">
            <div>
                <label for="username">Username or Email:</label>
                <input type="text" id="username" name="username" required>
            </div>
            
            <button type="submit">Reset Password</button>
        </form>
    </div>
    
    <footer>
        <p>It's Jesse's fault footer</p>
    </footer>
</body>
</html>
