<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Environmental Criticism Savants 2.0 - Spotify Unwrapped</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/functions.js"></script>
</head>
<body onload="displayText();">
    <header>
        <h1>Environmental Criticism Savants 2.0</h1>
        
    </header>
    <div class="content-center">
        <h2>Welcome to ECS 2.0</h2>
        <img src="static/images/images.jpg" style="max-width:150px;" alt="">
        <p>Sign up today or login to view posts</p>
        <p id="description">
            Welcome to Environmental Criticism Savants 2.0's Project for CSE 312.
        </p>
        {% if username %}
            <p>Welcome back, {{ username }}!</p>
            <form action="/logout" method="post">
                <ul>
                    <li><a href="/feed">Check Feed</a></li>
                    <input type="submit" value="Logout">
                </ul>
            </form>
        {% else %}
        <form action="/logout" method="post">
            <ul>
                <li><a href="login.html">Login</a></li>
                <li><a href="signup.html">Sign up!</a></li>
                <!-- <li><a href="/feed">Check Feed</a></li> -->
                <!-- <input type="submit" value="Logout"> -->
            </ul>
        </form>
        {% endif %}
    </div>    
    
    <footer>
        <p>It's Jesse's fault footer</p>
    </footer>
</body>
</html>
