<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theranos - Login</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <h1>Theranos</h1>
        <nav> <!--  Navigation bar  -->
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="signup.html">Sign up</a></li>
            </ul>
        </nav>
    </header>
    
    <div>
        <h2>Login to Spotify Unwrapped</h2>
        <form action="/login" method="post">
            <div>
                <label for="username">Username or Email:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <input type="submit" value="Login">
            <div class="forgot-password">
                <a href="Iforgot.html">Forgot password?</a>
            </div>
            
        </form>
    </div>
    
    <footer>
        <p>It's Jesse's fault footer</p>
    </footer>
</body>
</html>
